.menu-item-config {
	border: 1px solid #b7b7b7;
    padding: 3%;
    margin: 0 5%;
    margin-bottom: 1%;
    background-color: #fbfbfb;
    border-radius: 10px;
}

.custom-link-menu {
	padding: 3%;
}

/* Links Configure CSS */
.link-tab {
	box-sizing: border-box;
	font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

.link-tab {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: #e8d5c1;
    color: #1d1d1d;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-weight: bolder;
}

.tablink:hover,.tablink.active {
    background-color: #582f2f;
    color: whitesmoke;
    transition: 1s ease all;
}

.tabcontent {
    background-color: #efefef;
    color: #5f5c5c;
    padding: 5% 2%;
    display: none;
    height: 100%;
}

.card .numbers{
    font-size: 1.19em;
    font-weight: bolder;
}

a#your-link_previous {
    background-color: #582f2f !important; 
    color: white !important;
    padding: 1% !important;
}

a#your-link_next {
    background-color: #582f2f !important;
    color: white !important;
    padding: 1% !important;
}

a.paginate_button.current {
    background-color: #e8d5c1 !important;
    border: 1px solid #5d4a4a !important;
    color: #582f2f !important;
    font-weight: bolder !important;
    padding: 1% !important;
    margin: 0 0.2% !important;
}

a.paginate_button {
    background-color: #582f2f !important;
    padding: 1% !important;
    color: white !important;
    margin: 0 0.2% !important;
}